/Pike-shot/CondottiereWars/Content/bin
/Pike-shot/PikeAndShot.suo
/Pike-shot/ContentPipelineExtension1/obj
/Pike-shot/ContentPipelineExtension1/bin
/Pike-shot/CondottiereWars/bin
/Pike-shot/CondottiereWars/obj
/Pike-shot/CondottiereWars/PikeAndShot.csproj.Debug.cachefile
/Pike-shot/CondottiereWars/PikeAndShot.csproj.user
/Pike-shot/CondottiereWars/Content/obj
